.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-icons {
  color: white;
}
.account-name {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.home-page-buttons {
  width: 280px;
  height: 250px;
  border-radius: 15px;
  background-color: #343a40;
  border: none;
}

.home-page-text {
  padding-top: 2rem;
  font-size: 18px;
}

.top-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.middle-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.exit-modal{
  border:none;
  background-color: transparent;
}
.exit-modal:hover{
  border:none;
  background-color: transparent;
}
.exit{
  color: #000000;
}
.forgot-password-button{
  padding-bottom: 20px;
}
.forgot-password-header{
  font-size: 16px;
}
.forgot-password-sub-header{
  font-size: 12px;
  padding-bottom:18px;
}
.page-header {
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  float: left;
}

.page-sub-header {
  padding-bottom: 14px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #000000;
  float: left;
}

.personal-details h5 {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.personal-details h6 {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.personal-details-jumbotron-background {
  background-color: #F8F8F8;
  border-radius: 24px;
  width: 100%;
  padding: 32px 30px 2px 32px
}

.personal-details-jumbotron {
  background-color: #fdfdfd;
  width: 100%;
  padding: 24px 30px 24px 37px
}

.previous-page-icon {
  float: right;
  color: rgb(185, 185, 185);
}

.welcome-header {
  text-align: left;
  font: normal normal bold 37px/45px Montserrat;
  letter-spacing: 0px;
  color: #717171;
  opacity: 1;
}

.nav-bar-text {
  font-size: 12px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 6px;
}

.navbar-custom {
  background-color: #65c4c2;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.padding{
  padding-top:25px;
  padding-bottom:25px;

}

.circle-css:hover{
  fill:rgb(221, 221, 221)!important;
  r:13;
  transition: 0.4s;
}
.nav-icon{
  color:White;
}
.testtext{
  color:pink
}
.button-logout {
  font-weight: bolder;
  color: white;
  border:solid white;
  border-radius:20px;
  font-size: 12px;
  width: 130px;
  height: 30.8px;
  opacity: 1;
  background-color: #65c4c2;
  z-index: 10;
}

.button-logout:hover {
  color: black;
  background-color: white;
}

.button-logout:hover {
  background: white;
}

.logo {
  font-size: 20px;
  padding: none;
}
.full-width{
  max-width: '100%';
  height:100vh;
}
.login-header{
  padding-top: 30%;
  padding-bottom:2%;
  font-weight: 500;
}
.login-page-text{
  padding-top:38%;
  padding-left:4%;
  font-size: 14px;
  text-align: left;
}
.login-button{
  background-color: rgb(185, 185, 185);
  border:none;
  color:white;
  width:16%;
  border-radius: 0;
}

.home-page-header{
  padding-top:38px;
  padding-bottom:38px;

}
.home-page-buttons{
  width:380px;
  height:220px;
  background-color: rgb(218, 218, 218);
}
.home-page-buttons-text{
  color:white;
  font-size: 16px;
  font-weight: 600;
}
.home-page-icons{
  color:white;
}
.form-control{
  width:55%;
}
.create-account-padding{
  padding-bottom: 16px;
}
.create-account-label{
  font-size: 14px;
}
.form-text{
  padding-bottom:2%;
}
.manage-holidays-button{
  background-color: rgb(185, 185, 185);
  border:none;
  font-size:12px;
  width:80%;
  height:100%;
}
.forgot-password{
  color:black;
}
.manage-account-button{
  background-color: rgb(211, 211, 211);
  border:none;
  font-size:12px;
  width:80%;
  height:100%;
}
.apply-button{
  background-color: rgb(211, 211, 211);
  font-size:12px;
  border:none;
  color: white;
  border-radius: 0px;
}
.a{
  color:none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}